__pycache__
d
*.mo
*.DS_Store
.archive/*
.idea/*
.ipynb_checkpoints/*
.pytest_cache/*
.vscode/*
_install.md
build/*
docs/_build/*
docs/jupyter/.ipynb_checkpoints/*
dist/*
easyidp.egg-info/*
dev.notes/*
tests/out/*