##################
# Basic packages #
##################
numpy>=1.18.1
#pandas>=1.1.2
matplotlib >= 3.2.2
scikit-image>=0.16.2  # skimage.external been removed in advanced version

# transform between CRS projections
pyproj>=2.6.1.post1

# read geotiff file
tifffile>=2020.09.03

# polygon analysis
shapely >= 1.7.0

# point cloud analysis
#open3d >= 0.13.0

# read laz/las file:
lazrs>=0.1.1
laspy>=2.1.2

# read pcd file:
# pypcd >= 0.1.1
# python-lzf >= 0.2.4  # Windows install: https://www.lfd.uci.edu/~gohlke/pythonlibs/#python-lzf

# read ply file:
plyfile==0.7.2

# read dxf file:
ezdxf==0.16.4

# read shp file:
pyshp==2.1.3

#####################
# Optional packages #
#####################
# if run tests
#pytest==5.4.3

# key points matching (not implemented yet)
# ensure SURF feature matching algorithm patent available
#opencv-python>=3.4.2.16
#opencv-contrib-python>=3.4.2.16